{% load static %}

<footer>
    <div class="parallax100 kit-overlay1 p-t-35 p-b-15"  style="background-image: url('{% static 'images/slider2.jpg' %}')">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-5 col-lg-3 p-b-20">
                    <div class="size-h-1 flex-s-e p-b-6 m-b-18">
                        <a href="#">
                            <img class="max-s-full" src="{% static 'images/tatus-small.png' %}" alt="IMG">
                        </a>
                    </div>

                    <div>
                        <p class="t1-s-2 cl-13 p-b-9">
                            Remember us for any sort of consulting services in the transportation sector.                        </p>
                    </div>
                </div>

                <div class="col-sm-8 col-md-5 col-lg-3 p-b-20">
                    <div class="size-h-1 flex-s-e m-b-18">
                        <h4 class="t1-m-3 text-uppercase cl-0">
                            Contact us
                        </h4>
                    </div>

                    <ul>
                        <li class="flex-wr-s-s t1-s-2 cl-13 p-b-9">
                            <span class="size-w-3">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>

                            <span class="size-w-4">
                                Pulchowk, Lalitpur, Nepal
                            </span>
                        </li>

                        <li class="flex-wr-s-s t1-s-2 cl-13 p-b-9">
                            <span class="size-w-3">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>

                            <span class="size-w-4">
                                tatus.nepal@gmail.com
                            </span>
                        </li>

                        <li class="flex-wr-s-s t1-s-2 cl-13 p-b-9">
                            <span class="size-w-3">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>

                            <span class="size-w-4">
                                (+977) 9860619094
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-8 col-md-5 col-lg-3 p-b-20">
                    <div class="size-h-1 flex-s-e m-b-18">
                        <h4 class="t1-m-3 text-uppercase cl-0">
                            Company
                        </h4>
                    </div>

                    <div class="flex-wr-s-s">
                        <ul class="w-50">
                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'home' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    Home
                                </a>
                            </li>

                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'projects' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    Projects
                                </a>
                            </li>

                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'events' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    Events
                                </a>
                            </li>
                        </ul>

                        <ul class="w-50">
                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'blogs' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    Blogs
                                </a>
                            </li>
                            

                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'about' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    About us
                                </a>
                            </li>

                            <li class="kit-list1 p-b-9">
                                <a href="{% url 'contact' %}" class="t1-s-2 cl-13 hov-link2 trans-02">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-8 col-md-5 col-lg-3 p-b-20">
                    <div class="size-h-1 flex-s-e m-b-18">
                        <h4 class="t1-m-3 text-uppercase cl-0">
                            subscribe
                        </h4>
                    </div>

                    <div class="p-t-6">
                  
                        <form class="flex-wr-c-c m-b-15" action="{% url 'subscribe' %}" method="POSt">
                            {% csrf_token %}
                            <input class="size-a-17 bg-0 t1-s-2 plh-6 cl-6 p-rl-20" type="email" name="email" placeholder="Your E-mail">

                            <button class="flex-c-c size-a-16 bg-11 fs-18 cl-10 hov-btn3 trans-02" type="submit">
                                <i class="fa fa-envelope-o"></i>
                            </button>
                        </form>

                        <div class="flex-wr-s-c p-t-10">
                            <a href="#" class="flex-c-c size-a-7 borad-50per bg-11 fs-16 cl-0 hov-btn2 trans-02 m-r-10">
                                <i class="fa fa-facebook"></i>	
                            </a>

                            <a href="#" class="flex-c-c size-a-7 borad-50per bg-11 fs-16 cl-0 hov-btn2 trans-02 m-r-10">
                                <i class="fa fa-linkedin"></i>	
                            </a>
                            
                            <!-- <a href="#" class="flex-c-c size-a-7 borad-50per bg-11 fs-16 cl-0 hov-btn2 trans-02 m-r-10">
                                <i class="fa fa-instagram"></i>	
                            </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-10">
        <div class="container txt-center p-tb-15">
            <span class="t1-s-2 cl-14">
                Copyright @ TATUS. <a href="https://spellinnovation.com/" target="_blank"><i class="fa fa-heart"></i>Spell </a>. 
            </span>
        </div>
    </div>

	<script src="{% static 'static/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'static/vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'static/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'static/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'static/vendor/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'static/js/revo-custom.js' %}"></script>
    <script src="{% static 'static/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'static/vendor/parallax100/parallax100.js' %}"></script>
    <script src="{% static 'static/vendor/waypoint/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'static/vendor/countterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'static/vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'static/js/slick-custom.js' %}"></script>
    <script src="{% static 'static/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'static/js/main.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
    <script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'static/vendor/isotope/isotope.pkgd.min.js' %}"></script>
	
</footer>
</html>