{% load static %}
{% include 'header.html' %}
<title>Projects</title>

<body class="animsition">
	{% include 'nav.html' %}
	<section class="bg-img1 kit-overlay1" style="background-image: url('{% static 'images/about.jpg' %}')">
		<div class="container size-h-3 p-tb-30 flex-col-c-c">
			<h2 class="t1-b-1 text-uppercase cl-0 txt-center m-b-25">
				Projects
			</h2>

			<div class="flex-wr-c-c">
				<a href="{% url 'home' %}" class="breadcrumb-item">
					Home
				</a>
				<span class="breadcrumb-item">
					Projects
				</span>
			</div>
		</div>
	</section>

	<div class="bg-0 p-t-95 p-b-50">
		<div class="p-rl-50 p-rl-15-sr1199">
			<div class="p-b-45">
				<div class="flex-wr-c-c filter-tope-group">
					<button class="t1-m-6 cl-16 hov-btn3 trans-02 p-rl-10 p-tb-3 m-all-5 active-2" data-filter="*">
						All Projects
					</button>

					<button class="t1-m-6 cl-16 hov-btn3 trans-02 p-rl-10 p-tb-3 m-all-5" data-filter=".business-n">
						Ongoing
					</button>

					<button class="t1-m-6 cl-16 hov-btn3 trans-02 p-rl-10 p-tb-3 m-all-5" data-filter=".training-n">
						Completed
					</button>

					<button class="t1-m-6 cl-16 hov-btn3 trans-02 p-rl-10 p-tb-3 m-all-5" data-filter=".security-n">
						Upcoming
					</button>
				</div>
			</div>


			<div class="row isotope-grid">
				{% for ongoing in ongoing %}
				<div class="col-sm-6 col-lg-4 p-b-45 isotope-item business-n">
					<div class="flex-col-s-c">
						<div class="w-full pos-relative wrap-pic-w m-b-16">
							<img src="{{ ongoing.image1.url}}" alt="IMG">

							<div class="s-full ab-t-l flex-col-c-c hov-1 p-tb-30 p-rl-15">
								<a href="{% url 'project_single' id=ongoing.project_id %}"
									class="size-a-15 d-inline-flex flex-c-c bg-11 t1-s-2 text-uppercase cl-0 hov-btn2 trans-02 p-rl-10 hov-1-2">
									Project Details
								</a>
							</div>
						</div>
						<a href="{% url 'project_single' id=ongoing.project_id %}"
							class="t1-m-1 cl-3 hov-link2 trans-02">
							{{ongoing.project_title}}
						</a>
					</div>
				</div>
				{% endfor %}


				{% for completed in completed %}
				<div class="col-sm-6 col-lg-4 p-b-45 isotope-item training-n">
					<div class="flex-col-s-c">
						<div class="w-full pos-relative wrap-pic-w m-b-16">
							<img src="{{ completed.image1.url}}" alt="IMG">

							<div class="s-full ab-t-l flex-col-c-c hov-1 p-tb-30 p-rl-15">
								<a href="{% url 'project_single' id=completed.project_id %}"
									class="size-a-15 d-inline-flex flex-c-c bg-11 t1-s-2 text-uppercase cl-0 hov-btn2 trans-02 p-rl-10 hov-1-2">
									Project Details
								</a>
							</div>
						</div>

						<a href="{% url 'project_single' id=completed.project_id %}"
							class="t1-m-1 cl-3 hov-link2 trans-02">
							{{completed.project_title}}
						</a>
					</div>
				</div>
				{% endfor %}

				{% for upcoming in upcoming %}
				<div class="col-sm-6 col-lg-4 p-b-45 isotope-item security-n">
					<div class="flex-col-s-c">
						<div class="w-full pos-relative wrap-pic-w m-b-16">
							<img src="{{ upcoming.image1.url}}" alt="IMG">

							<div class="s-full ab-t-l flex-col-c-c hov-1 p-tb-30 p-rl-15">
								<a href="{% url 'project_single' id=upcoming.project_id %}"
									class="size-a-15 d-inline-flex flex-c-c bg-11 t1-s-2 text-uppercase cl-0 hov-btn2 trans-02 p-rl-10 hov-1-2">
									View Projects
								</a>
							</div>
						</div>

						<a href="{% url 'project_single' id=upcoming.project_id %}"
							class="t1-m-1 cl-3 hov-link2 trans-02">
							{{ upcoming.project_title}}
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
</body>